<div
  class="container min-height_100 d-flex align-items-center justify-content-center"
>
  <main class="row">
    <div class="col-12">
      <div class="main-end-course d-flex flex-column align-items-center">
        <i class="fa-regular fa-circle-check mb-3 icon-check"></i>
        <h1 class="text-center">Parabéns <span id="name"></span>!</h1>
        <p class="py-4 text-center">
          Você concluiu o curso com sucesso. Agradecemos a sua participaçao!
        </p>

        <div
          class="actions d-md-block d-flex flex-column align-items-center justify-content-center"
        >
          <button class="btn btn-warning me-md-3 mb-md-0 mb-3 j_return_course">
            Retornar para o Curso
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="js/login.js"></script>