.main-header-page  .title-header-page {
  font-size: 2rem;
  font-weight: 700;
  color: #00131d;
  opacity: 0.7;
}

.main-header-page  .description-header-page {
  color: #495961;
  font-size: 1.1em;
  font-weight: 300;
}

.main-header-page .progress {
  max-width: 600px;
}

.header-class h1 {
  font-size: 1.675rem;
  font-weight: 700;
  color: #00131d;
  opacity: 0.7;
}

.header-class h1:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #d5007f;
  margin-bottom: 2rem;
  margin-top: 0.3em;
}

.header-class p {
  color: #495961;
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 3em;
}

#accordion-module {
  min-width: 430px;
}

#accordion-module .accordion-button.collapsed {
  border-left: 2px solid #79b2e7;
  font-weight: 400;
  font-size: 1.25em;
  transition: all 0.5s ease;
}

#accordion-module .accordion-item,
#accordion-module .accordion-header {
  border: 0;
  outline: none;
  box-shadow: none;
}

#accordion-module .accordion-button {
  background: var(--bs-blue) !important;
  color: var(--bs-white);
  font-weight: 500;
  font-size: 1.25em;
  padding: 1.2em 1.5em;
  border-radius: 0;
  border: 0;
  transition: all 0.5s ease;
  outline: none;
  box-shadow: none;
}

#accordion-module .accordion-button {
  border-left: 2px solid #d5ebff;
  font-weight: 700;
  font-size: 1.26em;
  transition: all 0.5s ease;
}

#accordion-module .accordion-button:hover {
  font-weight: 700;
  font-size: 1.26em;
  transition: all 0.5s ease;
}

#accordion-module .accordion-button::after {
  display: none;
}

#accordionClass .accordion {
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

#accordionClass .accordion-button {
  color: #495961;
  font-size: 1.2em;
  font-weight: 400;
  outline: none;
  box-shadow: none;
}

#accordionClass p {
  color: #495961;
  font-size: 1.1em;
  font-weight: 300;
  margin: 20px;
}

@media (max-width: 992px) {
  .navigation-content.min-height_100 {
    min-height: fit-content !important;
    height: fit-content !important;
  }
}

@media (max-width: 768px) {
  .main-header-page .progress {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .main-header-page  .title-header-page {
    font-size: 1.5em;
  }

  .main-header-page  .description-header-page {
    font-size: 0.875em;
  }

  .header-class h1 {
    font-size: 1.3rem;
  }

  .header-class h1:after {
    height: 0.15rem;
  }

  .header-class p {
    margin-bottom: 1em !important;
  }

  #accordion-module {
    max-width: fit-content;
    padding: 0 20px;
    min-width: auto !important;
  }

  #accordion-module .accordion-button,
  #accordion-module .accordion-button.collapsed,
  #accordion-module .accordion-button:hover {
    font-size: 0.875em;
  }

  #accordionClass p {
    margin: 0;
    font-size: 1em;
  }

  #accordionClass .accordion-button {
    font-size: 1em;
  }
}