.main-form-login {
    max-width: 550px;
}

.main-form-login .title-login {
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
}

.main-form-login .description-login {
    color: #fff;
    font-size: 0.875em;
    font-weight: 300;
    padding: 0 20px;
}